.component-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.component-wrapper h1 {
    margin-bottom: 4rem;
}

.cards-container {
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 24rem;
    transition: transform 0.3s ease;
}

.card-image img {
    object-fit: cover;
    border-bottom: 4px solid var(--secondary-red-color);
}

.card-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card-readmore {
    padding: 0 2px 4px 2px;
    border-bottom: 1px solid var(--primary-red-color);
    cursor: pointer;
}

.card-readmore a h3:hover {
    color: var(--secondary-red-color);
}

/* Animations */

.card:hover {
    transform: scale(1.05);
}


/* Media queries */
@media only screen and (max-width: 1240px) {

    .cards-container {
        flex-direction: column;
        row-gap: 4rem;
        height: auto;
    }

    .modal-content {
        max-width: 100%;
        max-height: 100%;
    }

    .modal-image {
        max-width: 100%;
        max-height: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .card {
        align-items: center;
        width: auto;
    }

    .card-text {
        text-align: center;
    }
}