:root {
  --background-color: black;
  --primary-text-color: white;
  --secondary-text-color: rgb(197, 197, 197);
  --third-text-color: #bbbbbb;
  --primary-red-color: rgb(189, 5, 5);
  --secondary-red-color: rgb(210, 0, 0);
}


/*Import Fonts */
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../src/assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Condensed-Light';
  src: url('../src/assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('../src/assets/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
}


/* Define font stacks */
h1 {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 2.6em;
  font-weight: 200;
  color: var(--primary-text-color);
}

h2 {
  font-family: 'OpenSans-Condensed-Light', Arial, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  color: var(--primary-text-color);
}

h3 {
  font-family: 'OpenSans-Medium', Arial, sans-serif;
  color: var(--primary-text-color);
  font-size: 1em;
  font-weight: 100;
}

h4 {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 80;
  color: var(--secondary-text-color);
}

h5,
p {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 1em;
  font-weight: 80;
  color: var(--third-text-color);
}


a {
  color: inherit;
  text-decoration: none;
}



@media screen and (max-width: 1024px) {
  h1 {
    font-size: calc(28px + 0.5vw);
  }

  h2 {
    font-size: calc(14px + 0.5vw);
  }

  h3 {
    font-size: calc(10px + 0.5vw);
  }

  h4 {
    font-size: calc(10px + 0.5vw);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: calc(18px + 0.5vw);
  }
}