* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
}


/*Import Fonts */
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../src/assets/OpenSans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Condensed-Light';
  src: url('../src/assets/OpenSans_Condensed/OpenSans_Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Medium';
  src: url('../src/assets/OpenSans/OpenSans-Medium.ttf') format('truetype');
}


/* Define font stacks */
h1 {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 2.6em;
  font-weight: 200;
  color: white;
}

h2 {
  font-family: 'OpenSans-Condensed-Light', Arial, sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: white;
}

h3 {
  font-family: 'OpenSans-Medium', Arial, sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 100;
}

h4 {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 80;
  color: white;
}

h5 {
  font-family: 'OpenSans-Light', Arial, sans-serif;
  font-size: 1em;
  font-weight: 80;
  color: #bbbbbb;
}